@import "../../vars";

.photo-container {
  @include width-height-100;
  @include flex-col--center;
  padding: 0.5rem;
  box-sizing: border-box;

  .photo {
    position: relative;
    height: 70%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 1rem;
    box-shadow: var(--box-shadow--dark);
    margin: 0 auto;
    background: var(--dark-grey);

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 1.5rem;
      width: 4rem;
      background-color: yellow;
      opacity: 0.5;
      transform: rotate(-45deg);
    }

    &:after {
      content: "";
      top: -5%;
      left: -20%;
    }

    &:before {
      content: "";
      bottom: -5%;
      right: -20%;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media (max-width: 65em) {
  .photo-container {
    padding-bottom: 3rem;

    .photo {
      height: 100%;

      &:after {
        top: -10%;
        left: -15%;
      }

      &:before {
        bottom: -10%;
        right: -15%;
      }
    }
  }
}
