@import "../../vars";

.centered {
  @include flex-col--center;
  height: 100vh;
}

.login-container {
  @include flex-col--center;
  gap: 0.6rem;
  width: fit-content;
  margin: 1rem auto;

  padding: 1rem 3rem;
  border-radius: var(--border-radius--base);
  box-shadow: var(--box-shadow);
  font-size: var(--small-font-size);
  background-color: white;

  .subtitle {
    font-size: var(--title-font-size);
    margin: 0
  }

  form {
    @include flex-col;

    .checkbox {
      margin-top: 0.6rem;
      input {
        width: auto;
      }
    }

    .error {
      font-size: var(--small-font-size);
      color: red;
      width: 25ch;
    }

    label {
      margin: 0.2rem;
    }

    input {
      width: 20em;
      padding: 0.2rem;
    }

    button {
      align-self: center;
      margin-top: 0.6rem;
      border: 1px solid #111;
      border-radius: var(--border-radius--light);
      box-shadow: var(--box-shadow--light);
      background-color: lightblue;

      @include btn-press;
    }
    .guest {
      background-color: lightgreen;
    }
  }
}

.signup-container {
  @include flex-col--center;

  button {
    border: none;
    box-shadow: none;
    color: blue;
    margin: 0;
    font-size: var(--small-font-size);

    &:hover {
      color: #111;
    }
  }
}
