@import "../../../vars";

.modal {
  @include flex-col--center;
  @include width-height-100;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: open 0.3s forwards;
  z-index: 2;

  &-relative {
    position: relative;
    width: 60%;
    height: 60%;

    .close-btn {
      position: absolute;
      top: 2%;
      right: 1%;
      height: 25px;
      width: 25px;
      border: none;
      padding: 0;
      z-index: 3;
      box-shadow: var(--box-shadow);
      @include btn-press;
    }
  }
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 32em) {
  .modal {
    &-relative {
      width: 90vw;
      .close-btn {
        top: 1.5%;
        right: 2.5%;
        height: 20px;
        width: 20px;
      }
    }
  }
}
