@import "../../../vars";

.submit-btn {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius--base);
  z-index: 2;

  &:active {
    transform: translateX(50%) translateY(1px) !important;
    box-shadow: none;
  }
}
