@import "../../../vars";

.submit-btn {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius--base);
  z-index: 2;
  color: var(--dark-grey);

  &:active {
    transform: translateX(50%) translateY(1px) !important;
    box-shadow: none;
  }
}

.err-msg {
  font-family: Handwriting;
  color: red;
  background-color: white;
  width: fit-content;
  margin: 0.5rem auto;
  text-align: center;
}
