:root {
  --box-shadow: 1px 2px 8px #999;
  --box-shadow--light: 1px 2px 8px #bbb;
  --transparent: rgba(0, 0, 0, 0);
  --border-radius--base: 15px;
  --border-radius--light: 8px;
  --small-font-size: 1.2rem;
  --low-mid-font-size: 1.6rem;
  --mid-font-size: 1.8rem;
  --high-mid-font-size: 2rem;
  --large-font-size: 2.4rem;
  --xl-font-size: 2.8rem;
  --subtitle-font-size: 3.2rem;
  --title-font-size: 4.8rem;
}

.paper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
.paper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #d44147;
}
.paper-content {
  position: absolute;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  top: 30px;
  right: 0;
  bottom: 30px;
  left: 60px;
  background: linear-gradient(transparent, transparent 28px, #91d1d3 28px);
  background-size: 30px 30px;
}
.paper-content textarea {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  outline: none;
  background: transparent;
  color: #333;
  font-size: var(--small-font-size);
  z-index: 1;
}
.paper-content textarea::-webkit-scrollbar {
  display: none;
}
.paper-content .photo-container {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paper-content .photo-container .photo {
  position: relative;
  height: 70%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 1rem;
  box-shadow: 0 0 0 1px black;
  margin: 0 auto;
  background-color: #111;
}
.paper-content .photo-container .photo button {
  color: #111;
  border: 1px white;
  border-radius: 10px;
  box-shadow: 1px 2px 4px #eee;
  background-color: white;
  padding: 8px 16px;
}
.paper-content .photo-container .photo button:hover {
  background-color: #eee;
}
.paper-content .photo-container .photo button:active {
  transform: translateY(1px);
  box-shadow: none;
}
.paper-content .photo-container .photo:before, .paper-content .photo-container .photo:after {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 4rem;
  background-color: yellow;
  opacity: 0.5;
  transform: rotate(-45deg);
}
.paper-content .photo-container .photo:after {
  content: "";
  top: -5%;
  left: -20%;
}
.paper-content .photo-container .photo:before {
  content: "";
  bottom: -5%;
  right: -20%;
}
.paper-content .photo-container .submit-btn {
  margin-top: 1.6rem;
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 0.4rem 0.8rem;
  border-radius: 15px;
}
.paper-content .photo-container .submit-btn:hover {
  background-color: #eee;
}
.paper-content .photo-container .submit-btn:active {
  transform: translateY(1px);
  box-shadow: none;
}/*# sourceMappingURL=InputModal.module.css.map */