body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Main;
  letter-spacing: 1px;
}

button {
  cursor: pointer;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 25px;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s;
}

svg {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Main;
  src: url("./fonts/Wash-Your-Hand.ttf") format("truetype");
}

@font-face {
  font-family: Handwriting;
  src: url("./fonts/KyoboHandwriting2019.ttf") format("truetype");
}
