@import "../../vars";

.paper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
    background-size: 30px 30px;
    border-right: 3px solid #d44147;
  }

  &-content {
    position: absolute;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-content: center;
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 60px;

    background: linear-gradient(transparent, transparent 28px, #91d1d3 28px);
    background-size: 30px 30px;

    textarea,
    p {
      width: 100%;
      height: 100%;
      line-height: 30px;
      padding: 0 10px;
      font-size: var(--small-font-size);

      font-family: Handwriting;
      letter-spacing: 1.5px;
    }

    textarea {
      border: none;
      outline: none;
      background: transparent;
      color: #333;
      z-index: 1;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    label {
      color: #111;
      border: 1px white;
      border-radius: 10px;
      box-shadow: 1px 2px 4px #eee;
      background-color: white;
      padding: 8px 16px;
      cursor: pointer;

      @include btn-press;
    }

    input {
      display: none;
    }

    button {
      position: absolute;
      top: 90%;
      box-shadow: 1px 2px 4px #eee;
      background-color: white;
      padding: 8px 16px;

      @include btn-press;
    }
  }
}
