@import "../../../vars";

.welcome-container {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fdeffe;
  padding: 1rem;
  border-radius: var(--border-radius--base);
  box-shadow: var(--box-shadow);
  margin: 0;

  .welcome {
    font-size: var(--title-font-size);
    color: #efb1d0;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
      2px 2px 0 #fff;
    text-align: center;
    margin: 0;
  }
}

.message {
  font-size: var(--low-mid-font-size);
  margin: 0;
  line-height: 40px;
  font-family: Handwriting;

  img {
    height: 2.4rem;
    width: 2.4rem;
    transform: translateY(25%);
  }

  .right {
    transform: translateY(25%) rotateY(180deg);
  }

  p {
    margin: 0;
  }

  span {
    margin: 0;
  }

  .pencil {
    color: blue;
  }

  .record {
    color: darkblue;
  }

  .book {
    color: pink;
  }

  .read {
    color: deeppink;
  }
}

.end {
  text-align: center;
}

.music-notes {
  height: 50%;
  width: 10%;
}

@media (max-width: 60em) {
  .welcome-container {
    .welcome {
      font-size: 2.4rem;
    }

    .message {
      font-size: 1rem;

      img {
        height: 1.4rem;
        width: 1.4rem;
      }
    }
  }
  .music-notes {
   display: none; 
  }
}